td, th {
    border: 1px solid #dddddd;
    text-align: center;
    color: darkcyan;
    padding: 10px;
  }
  
  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  tr:nth-child(even){
  background-color:bisque;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  mat-card{background-color: thistle;}